{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}
<!-- politics news articles -->
<h3>Politics News</h3>
<ul>
    {{macro.displayNewsList(politics)}}
</ul>

<!-- business news articles -->
<h3>Business News</h3>
<ul>
    {{macro.displayNewsList(business)}}
</ul>
<!-- sports news article -->
<h3>Sport News</h3>
<ul>
    {{macro.displayNewsList(sports)}}
</ul>
<!-- Entertainment news article -->
<h3>Entertainment News</h3>
<ul>
    {{macro.displayNewsList(entertainment)}}
</ul>

{% endblock %}