{% macro  displayNewsList(news_list) %}
    <div class="container"></div>
        <div class="row">
            {% for news in news_list %}
        
            
                <div class="col-sm-6 col-md-3 col-lg-3 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-size: medium;">{{news.name}}</h5>
                            <p class="card-text " style="font-size:small;">{{news.description|truncate}}</p>
                            <a href="/articles/{{news.id}}" class="btn btn-primary">Get the latest news</a>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro displayArticlesList(article_list) %}

        {% for art  in article_list%}

            <div class="col mb-4 pt-3 ">
                <div class="card ">  
                    <div class="view overlay">   
                        <img class="img-responsive card-img-top" src="{{art.urlToImage}}" alt="article images">          
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{art.title}}</h4>
                        <p class="card-text" style="font-size: small;">{{art.description|truncate(60)}}</p>
                        <p>{{art.publishedAt}}</p>
                        <a href="{{art.url}}" class="btn btn-primary btn-md">Read more</a>
                    </div>
                </div>
            </div>
                    
          
        {% endfor %}


{% endmacro %}